## Don't ignore build files
!.env.sample
inspire/

## ignore test coverage files
*.out
*.out.txt

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
/coverage

# Turbo
.turbo

# Vercel
.vercel

# Misc
.DS_Store
*.pem

# nodeJS
node_modules
.pnp
.pnp.js

## Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## Build Outputs
.next/
out/
build
dist
.docker-cache/

# Go
/bin

# Rust
/target
